[Desktop Entry]
Encoding=UTF-8
Name=LXTerminal
Name[af]=LXTerminal
Name[ar]=LXTerminal
Name[be]=LXTerminal
Name[bg]=LXTerminal
Name[bn]=LX\u099f\u09be\u09b0\u09cd\u09ae\u09bf\u09a8\u09be\u09b2
Name[bn_IN]=LXTerminal
Name[ca]=LXTerminal
Name[cs]=LXTerminal
Name[da]=LXTerminal
Name[de]=LXTerminal
Name[el]=LXTerminal
Name[en_GB]=LXTerminal
Name[eo]=LXTerminalo
Name[es]=LXTerminal
Name[es_VE]=LXTerminal
Name[et]=LXTerminal
Name[eu]=LXTerminala
Name[fa]=\u067e\u0627\u06cc\u0627\u0646\u0647 \u06cc LX
Name[fi]=LXTerminal
Name[fo]=LXTerminal
Name[fr]=LXTerminal
Name[frp]=LXTerminal
Name[gl]=LXTerminal
Name[he]=\u05ea\u05db\u05e0\u05d9\u05ea \u05d4\u05de\u05e1\u05d5\u05e3 LXTerminal
Name[hr]=LXterminal
Name[hu]=LXTerminal
Name[id]=LXTerminal
Name[it]=LXTerminal
Name[ja]=LXTerminal
Name[kk]=LXTerminal
Name[ko]=LXTerminal
Name[lg]=LXTerminal
Name[lt]=LXTerminal
Name[ms]=LXTerminal
Name[nb]=LXTerminal
Name[nl]=LXTerminal
Name[nn]=LXTerminal
Name[pl]=LXTerminal
Name[pt]=LXTerminal
Name[pt_BR]=LXTerminal
Name[ro]=LXTerminal
Name[ru]=LXTerminal
Name[sk]=LXTerminal
Name[sl]=LXTerminal
Name[sr]=\u041b\u0418\u043a\u0441-\u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b
Name[sr@latin]=LIks-Terminal
Name[sv]=LXTerminal
Name[te]=LX\u0c1f\u0c46\u0c30\u0c4d\u0c2e\u0c3f\u0c28\u0c32\u0c4d
Name[tr]=LXTerminal
Name[tt_RU]=LXTerminal
Name[ug]=LXTerminal
Name[uk]=LX-\u0442\u0435\u0440\u043c\u0456\u043d\u0430\u043b
Name[ur]=\u0627\u06cc\u0644 \u0627\u06cc\u06a9\u0633 \u0679\u0631\u0645\u0646\u0644
Name[ur_PK]=\u0627\u06cc\u0644 \u0627\u06cc\u06a9\u0633 \u0679\u0631\u0645\u0646\u0644
Name[vi]=LXTerminal
Name[zh_CN]=LX \u7ec8\u7aef
Name[zh_TW]=LX \u7d42\u7aef\u6a5f
GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]=\u0634\u0627\u0634\u0629 \u0637\u0631\u0641\u064a\u0629
GenericName[be]=\u0422\u044d\u0440\u043c\u0456\u043d\u0430\u043b
GenericName[bg]=\u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b
GenericName[bn]=\u099f\u09be\u09b0\u09cd\u09ae\u09bf\u09a8\u09be\u09b2
GenericName[ca]=Terminal
GenericName[cs]=Terminál
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=\u03a4\u03b5\u03c1\u03bc\u03b1\u03c4\u03b9\u03ba\u03cc
GenericName[en_GB]=Terminal
GenericName[es]=Terminal
GenericName[es_VE]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=\u067e\u0627\u06cc\u0627\u0646\u0647
GenericName[fi]=Pääte
GenericName[fo]=Útstøð
GenericName[fr]=Terminal
GenericName[gl]=Terminal
GenericName[he]=\u05de\u05e1\u05d5\u05e3
GenericName[hr]=Terminal
GenericName[hu]=Terminál
GenericName[id]=Terminal
GenericName[it]=Terminale
GenericName[ja]=\u7aef\u672b
GenericName[kk]=\u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b
GenericName[ko]=\ud130\ubbf8\ub110
GenericName[lg]=Kiwandikiro
GenericName[lt]=Terminalas
GenericName[ml]=\u0d1f\u0d46\u200d\u0d30\u0d4d\u0d2e\u0d3f\u0d28\u0d32\u0d4d
GenericName[ms]=Terminal
GenericName[nb]=Terminal
GenericName[nl]=Terminalvenster
GenericName[nn]=Terminal
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=\u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sr]=\u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b
GenericName[sr@latin]=Terminal
GenericName[sv]=Terminal
GenericName[te]=\u0c1f\u0c46\u0c30\u0c4d\u0c2e\u0c3f\u0c28\u0c32\u0c4d
GenericName[tr]=Uçbirim
GenericName[tt_RU]=\u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b
GenericName[ug]=\u062a\u06d0\u0631\u0645\u0649\u0646\u0627\u0644
GenericName[uk]=\u0422\u0435\u0440\u043c\u0456\u043d\u0430\u043b
GenericName[vi]=C\u1eeda s\u1ed5 l\u1ec7nh
GenericName[zh_CN]=\u7ec8\u7aef
GenericName[zh_TW]=\u7d42\u7aef\u6a5f
Comment=Use the command line
Comment[af]=Gebruik die opdraglyn
Comment[ar]=\u0627\u0633\u062a\u062e\u062f\u0650\u0645 \u0633\u0637\u0631 \u0627\u0644\u0623\u0648\u0627\u0645\u0631
Comment[be]=\u042d\u043c\u0443\u043b\u044f\u0442\u0430\u0440 \u0442\u044d\u0440\u043c\u0456\u043d\u0430\u043b\u0430
Comment[bg]=\u0418\u0437\u043f\u043e\u043b\u0437\u0432\u0430\u043d\u0435 \u043d\u0430 \u043a\u043e\u043c\u0430\u043d\u0434\u0435\u043d \u0440\u0435\u0434
Comment[bn]=\u0995\u09ae\u09be\u09a8\u09cd\u09a1 \u09b2\u09be\u0987\u09a8 \u09ac\u09cd\u09af\u09ac\u09b9\u09be\u09b0 \u0995\u09b0\u09be \u09b9\u09ac\u09c7
Comment[ca]=Utilitza la línia d'ordres
Comment[cs]=Pou\u017eívat p\u0159íkazový \u0159ádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=\u03a7\u03c1\u03ae\u03c3\u03b7 \u03b3\u03c1\u03b1\u03bc\u03bc\u03ae\u03c2 \u03b5\u03bd\u03c4\u03bf\u03bb\u03ce\u03bd
Comment[en_GB]=Use the command line
Comment[es]=Utilice la línea de órdenes
Comment[es_VE]=Usar la línea de comandos
Comment[et]=Käsurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=\u0627\u0633\u062a\u0641\u0627\u062f\u0647 \u0627\u0632 \u062e\u0637 \u0641\u0631\u0645\u0627\u0646
Comment[fi]=Käytä komentoriviä
Comment[fo]=Nýt stýriboðslinjuna
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=\u05e9\u05d9\u05de\u05d5\u05e9 \u05d1\u05e9\u05d5\u05e8\u05ea \u05d4\u05e4\u05e7\u05d5\u05d3\u05d4
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan perintah baris
Comment[it]=Usa la riga di comando
Comment[ja]=\u30b3\u30de\u30f3\u30c9\u30fb\u30e9\u30a4\u30f3\u7aef\u672b\u3067\u3059
Comment[kk]=\u041a\u043e\u043c\u0430\u043d\u0434\u0430\u043b\u044b\u049b \u0436\u043e\u043b\u0434\u044b \u049b\u043e\u043b\u0434\u0430\u043d\u0443
Comment[ko]=\uba85\ub839 \ud589\uc744 \uc0ac\uc6a9\ud569\ub2c8\ub2e4
Comment[lg]=Kolera mu kiwandikiro
Comment[lt]=Naudoti komand\u0173 eilut\u0119
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[pl]=Emulator terminala
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Use a linha de comando
Comment[ro]=Utilizeaz\u0103 linia de comand\u0103
Comment[ru]=\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u044c \u043a\u043e\u043c\u0430\u043d\u0434\u043d\u0443\u044e \u0441\u0442\u0440\u043e\u043a\u0443
Comment[sk]=Pou\u017ei\u0165 príkazový riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[sr]=\u041a\u043e\u0440\u0438\u0441\u0442\u0438\u0442\u0435 \u043b\u0438\u043d\u0438\u0458\u0443 \u043d\u0430\u0440\u0435\u0434\u0431\u0438
Comment[sr@latin]=Koristite liniju naredbi
Comment[sv]=Använd kommandoraden
Comment[te]=\u0c15\u0c2e\u0c3e\u0c02\u0c21\u0c41 \u0c32\u0c48\u0c28\u0c41\u0c28\u0c41 \u0c35\u0c3e\u0c21\u0c41
Comment[tr]=Komut sat\u0131r\u0131n\u0131 kullan
Comment[tt_RU]=\u041a\u043e\u043c\u0430\u043d\u0434\u0430 \u044e\u043b\u044b\u043d \u043a\u0443\u043b\u043b\u0430\u043d\u0443
Comment[ug]=\u0628\u06c7\u064a\u0631\u06c7\u0642 \u0642\u06c7\u0631\u0649\u0646\u0649 \u0626\u0649\u0634\u0644\u06d5\u062a
Comment[uk]=\u0412\u0438\u043a\u043e\u0440\u0438\u0441\u0442\u0430\u0442\u0438 \u043a\u043e\u043c\u0430\u043d\u0434\u043d\u0443 \u0441\u0442\u0440\u0456\u0447\u043a\u0443
Comment[vi]=Dùng dòng l\u1ec7nh
Comment[zh_CN]=\u4f7f\u7528\u547d\u4ee4\u884c
Comment[zh_TW]=\u4f7f\u7528\u547d\u4ee4\u5217
TryExec=lxterminal
Exec=lxterminal
Icon=gnome-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
Keywords=console;command line;execute;
